<%= form_tag employers_create_path do %>
	Name:<%= text_field_tag "name" %><br />
	Address:<%= text_field_tag "address" %><br />
	<%=submit_tag %>
<% end %>

<p><%= link_to "Employer", employers_index_path %></p>